@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";

body {
  font-family: "Outfit", sans-serif;
  background-color: #fcfbfc;
  overflow-x: hidden;
}

.btn-primary {
  @apply w-full bg-purple-900 text-lg text-white font-medium py-2 rounded-md hover:bg-purple-800 transition duration-300 my-3;
}

.text-primary-dark {
  @apply text-purple-700;
}